/* background */

{
width: 1080px;
height: 677px;
background: #FFFFFF;

}

/* navigation */

{

width: 1080px;
height: 59px;
background: #FF7481;

}

/* Home */

{

width: 49px;
height: 21px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

}

/* Search */

{

position: absolute;
width: 55px;
height: 21px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

}

/* Logged in as {user} */

{
width: 151px;
height: 21px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

}


/* Logout */

{

width: 141px;
height: 34px;

}


/* This is a Title */

{

width: 147px;
height: 29px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;

}


/* Your previous searches : */

{

width: 217px;
height: 23px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}


/* Search result */

{

position: absolute;
width: 204px;
height: 32px;
color: #FF7481;
border-radius: 50px;

}



/* Your Logo */
{

position: absolute;
width: 40px;
height: 30px;
background: url(exlogo.png);

}
