/*
This is the Horizontal Navigation Bar Example with Active/Current Navigation Link
From here https://www.w3schools.com/css/css_navbar.asp
*/

.aspectwrapper {
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */
}
.aspectwrapper::after {
  padding-top: 56.25%; /* percentage of containing block _width_ */
  display: block;
  content: '';
}
.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
  outline: thin dashed green;            /* just so you can see the box */
}


ul.header {
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */

background: #FF7481;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF7481;
 
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.header li a:hover:not(.active) {
  background-color: orange;
}

.active {
  background-color: #4caf50;
}



.searchBar, .SearchClick, .Searchtitle {

  position: absolute;
  width: 505px;
  height: 40px;
  top: 210px; 
  left: 40%;  
  text-align: center ; 
   
  background: #FF7481;
  border-radius: 50px;

}
::placeholder {  
  color: black;
  
  
}

.SearchClick{
border-radius: 100px;
position: absolute;
width: 60px; 
height: 35px;
top: 215px; 
left: 60.8%; 
background: #FFFFFF;
}

.Searchtitle {
  background: #FFFFFF; 
  position: absolute;
  width: 160px;
  height: 29px;
  left: 48%; 
  top: 111px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  
  color: #000000;
  
}

.userNameInput {

  position: absolute;
  width: 372px;
  height: 44px;
  left: 33%;
  top: 242px;
  
}

.passwordInput {
  position: absolute;
  width: 372px;
  height: 44px;
  left: 33%;
  top: 299px;
  
}

.loginButton {
  position: absolute;
  width: 267px;
  height: 44px;
  left: 36%;
  top: 392px;
  
}

.signin {
  position: absolute;
width: 91px;
height: 35px;
left: 40%;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: rgb(102, 87, 87);

}

.Graph {
  background: #FFFFFF; 
  position: absolute;
  width: 800px;
  left: 48%; 
  top: 0%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  
  color: #000000;
  
}

.SatImage {
  background: #FFFFFF; 
  position: absolute;
  width: 800px;
  left: 20%; 
  top: -10%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  
  color: #000000;
  
}

.WeatherData {
   
  position: absolute;
  width:  800px;
  left:   20%; 
  top:    700px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  
  color: #000000;
  
}



.backgroundColorWhite {
  position: relative;
  width: 100%;
  height: 100%;
  
  background: #FFFFFF;
}

.backgroundColorPink {

  position: relative;
  width: 100%;
  height: 100%;
  left: 345px;
  top: 0px;
  
  background: #FF7481;
  
  
}
